@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,300;1,400;1,500&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    background: #FDFEFE;
    color: #000;
    font-family: 'Roboto', sans-serif;
}

header{
    width: 100%;
    overflow: hidden;
    /*height: 100px;
    background: #212F3D;
    display: flex;
    background-color: #d5dbdb;*/
    background: rgba(40, 48, 72, 0.3);  
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #e3e4e4, #50576e);  
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #e3e4e4, #50576e); 
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    position: fixed;
    box-shadow: grey;
    
}

.wrapper{
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}

header .logo-title{
    /*display: flex;
    line-height: 80px;*/
    float: left;
}

header .logo-title img{
    width: 150px;
    height: 90px;
    margin-top: 10px;
    /*margin-left: 10px;*/
    -webkit-transition: all 250ms ease-in-out;
    -o-transition: all 250ms ease-in-out;
    transition: all 250ms ease-in-out;
}

/*header .logo-title img:hover{
    width: 180px;
    height: 120px;
    position: fixed;
    cursor: pointer;
}*/

header nav{
    float: right;
    line-height: 100px;
}

header nav a{
    display: inline-block;
    color: #02121f;
    text-decoration: none;
    padding: 10px 5px;
    line-height: normal;
    font-size: 13px;
    font-weight: bold;
    -webkit-transition: all 250ms ease-in-out;
    -o-transition: all 250ms ease-in-out;
    transition: all 250ms ease-in-out;

    border-bottom: 2px solid transparent;

}

header nav a:hover{
    /*background: #17202A;*/
    color: #FCCF08 ;
    font-size: 20px;
    border-bottom: 2px solid #FCCF08;
}

.header2{
    position: fixed;
    height: 60px;
    /*background-color: #212F3D;*/
    background: #283048;  
    
    
}

.header2 .logo-title{
    line-height: 60px;
    font-size: 30px;
}

.header2 .logo-title img{
    width: 90px;
    height: 40px;
    /*
    display: none;
    background-image: url(../img/logo2.png);*/
}

.header2 nav{
    line-height: 60px;
}

.header2 nav a{
    color: white;
}

.header2 nav a:hover{
    color: rgb(252, 207, 8);
    border-bottom: 2px solid #FCCF08;
    font-size: 16px;
}

/*----------------------------------------*/
/*-----------Header Image-----------------*/
/*----------------------------------------*/

.contenido-header {
    width: 100%;
    height: 100vh;
    background-image: url(../img/header3.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.contenido-header .section-header-fondo {
    width: 100%;
    background: rgba(40, 48, 72, 0.938);
}

@media screen and (max-width: 950px){
    header .logo-title,
    header nav{
        width: 100%;
        text-align: center;
        line-height: 90px;
    }

    header .logo-title img{
        width: 180px;
        height: 120px;
    }

    header nav a{
        font-size: 14px;
    }

    .header2{
        height: auto;
    }

    .header2 .logo-title,
    .header2 nav {
        line-height: 50px;
    }
}